<!DOCTYPE html>
<html>
  <head>
    <title>Calc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', controller_name %>
  </head>

  <body>
    <div class="padding-top">
      <% unless controller_name.eql? "welcome"%>
          <%= link_to "Start", root_path, class: "back-to-root" %>
      <% end %>
      <div class="container-fluid">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
